@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
    
.Navbar{
}

.Home{
    background-color: #cec8d5;
    height: 815px;
    .body-home{
        padding-top: 16em;
        padding-right: 600px;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    
        h1{
            color: black;
        }
        h4{
            color: black;
        }
        .btn.large {
            padding:20px 30px;
            font-size:22px;
            background-color: blue;
            color: white;
            border-radius: 15px;
            text-decoration: none;
        }
    
    }
}

.Footer{
    margin-top: 360px;
}